/* Main Stylesheet */
@import './assets/styles/variables.css';
@import './assets/styles/base.css';
@import './assets/styles/utilities.css';

/* Global Application Styles that don't fit in utilities */
#app {
  width: 100%;
  min-height: 100vh;
}